#canvas

  .imageholder.selected
    .controls
      %button crop both
      %button rotate both
      %button publish both
  .imageholder.instructions
      %h2 drag and drop your images here to share them on facebook...

:javascript
  $("#images").dndUploader({
    url : "/upload"
  })

  function updateImage(image) {
    $("#drop_box").append("<img src='"+image.image+"' />");
  }

  $(document).ready(function() {
    $('#slider').slider();
  });


