#canvas
  .image
    .controls
      %button{:data => {:crop => true}} crop
      %button{:data => {:rotate => true}} rotate
      %button{:data => {:publish => true}} publish
  .image.instructions
    %h2 drag and drop your images here to share them on facebook...

:javascript
    /*$("#rotate").button().click(function(event) {
      event.preventDefault();
      $.each($('.ui-selected img'), function(i, image){
        $.post("/rotate", { image : $(image).attr("data-path")}, function(image) {
          image = JSON.parse(image);
          if (image.path) {
            $("img[data-path='"+ image.path +"']").attr("src", image.path + "?" + Date.now());
          }
        });
      });
    });

    $("#drop_box").selectable();

    $("#slider").slider({
      min: 100,
      max: 1000,
      slide: function( event, ui ) {
        $('#amount').val( ui.value );
        var width = ui.value;
        $.each($('.image_box img'), function(i, el){
          if($(el).attr('data-max-width') > width) {
            $(el).attr('width', width);
            $(el).attr('height', ($(el).attr('data-max-height')/$(el).attr('data-max-width')) * width);
          }
        });
      }
    }); 
  });*/
