!!!
%html{:lang => :en}
  %head
    %meta{:charset => "UTF-8"}
    %title Cuva
    =stylesheet_link_tag "style"
    =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "jquery.dnduploader.js"
  %body
    %header
      
    #main=yield

    %footer
